/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
.marquee {
  display: flex;
  margin: 2rem 0;
}
.marquee__inner {
  margin: 0 auto;
  will-change: transform;
  animation-name: marquee;
  animation-duration: s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@media (min-width: 500px) {
  .marquee__inner {
    animation-duration: 6s;
 }
}
@media (min-width: 850px) {
  .marquee__inner {
    animation-duration: 9s;
 }
}
@media (min-width: 1200px) {
  .marquee__inner {
    animation-duration: 11s;
 }
}
[data-reverse] .marquee__inner {
  animation-direction: reverse;
}
[data-alternate] .marquee__inner {
  animation-name: marquee--alternate;
  animation-direction: alternate;
  animation-duration: 2.5s;
}
@media (min-width: 500px) {
  [data-alternate] .marquee__inner {
    animation-duration: 4s;
 }
}
@media (min-width: 850px) {
  [data-alternate] .marquee__inner {
    animation-duration: 7s;
 }
}
@media (min-width: 1200px) {
  [data-alternate] .marquee__inner {
    animation-duration: 9s;
 }
}
@keyframes marquee {
  from {
    transform: translateX(calc(50vw + 50%));
 }
  to {
    transform: translateX(calc(-50vw + -50%));
 }
}
@keyframes marquee--alternate {
  from {
    transform: translateX(calc(50vw + -50%));
 }
  to {
    transform: translateX(calc(-50vw + 50%));
 }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
code {
  display: inline;
  background: #efefef;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}
