/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,900&display=swap');

/******************************************
/* LAYOUT
/*******************************************/
.marquee {
  display: flex;
  margin: 0rem 0;
}
.marquee__inner {
  margin: 0 auto;
  will-change: transform;
  animation-name: marquee;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

h1{
  height: 9vh;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 6rem;
  font-weight: 900;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
}

.headings {
  height: 100vh;
  background: rgb(103,161,61);
background: linear-gradient(143deg, rgba(103,161,61,1) 0%, rgba(81,108,61,1) 50%, rgba(37,59,21,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body, div {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* code {
  display: inline;
  background: #efefef;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
} */


/******************************************
/* RESPONSIVE
/*******************************************/
@media (min-width: 500px) {
  .marquee__inner {
    animation-duration: 14s;
 }
}
@media (min-width: 850px) {
.marquee__inner {
    animation-duration: 14s;  
 }
}
@media (min-width: 1200px) {
  .marquee__inner {
    animation-duration: 14s;
 }
}
[data-reverse] .marquee__inner {
  animation-direction: reverse;
}
[data-alternate] .marquee__inner {
  animation-name: marquee--alternate;
  animation-direction: alternate-reverse;
  animation-duration: 14s;
}
@media (min-width: 500px) {
  [data-alternate] .marquee__inner {
    animation-duration: 14s;
 }
}
@media (min-width: 850px) {
  [data-alternate] .marquee__inner {
    animation-duration: 14s;
 }
}
@media (min-width: 1200px) {
  [data-alternate] .marquee__inner {
    animation-duration: 12s;
 }
}


@keyframes marquee {
  from {
    transform: translateX(calc(50vw + 50%));
 }
  to {
    transform: translateX(calc(-50vw + -50%));
 }
}


@keyframes marquee--alternate {
  from {
    transform: translateX(calc(50vw + -60%));
 }
  to {
    transform: translateX(calc(-50vw + 50%));
 }
}